// ################### BEGIN ARTICLES ###################
| <!--[if mso]><table style='width:100%'><tr><td><center><table style="color:white;width:620px"><tr><td><![endif]-->
.articles-container
  .articles

    // ##################### BEGIN ARTICLE #####################

    .article(id='1')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='2')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='3')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='4')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='5')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='6')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='7')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='8')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='9')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='10')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='11')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='12')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

    // ##################### BEGIN ARTICLE #####################

    .article(id='13')
      h1
      p
    
    // begin divider
    .clearfix
    .divider
      a.top(href="#")
        block articles_back-to-top
      block articles_read-more
      hr.line
    // end divider

    // ##################### END ARTICLE #####################

| <!--[if mso]></td></tr></table></center></td></tr></table><![endif]-->

// ################### END ARTICLES ###################