- var n = 1;
while n < 13
  .articles-container
    .articles
      .article(id=n)
        h1
        p

      .clearfix
      .divider
        a.top(href="#")
          block articles_back-to-top
        block articles_read-more
        hr.line
  - n++