// ################### BEGIN FOOTER ###################
.clearfix
.footer-container
  .footer
    .connect
      h2
        block footer_connect-with-us
    .social
      table(cellspacing='3')
        block footer_social
    .info
      p
        block footer_info
// ################### END FOOTER ####################