// ################### BEGIN FOOTER ###################
.clearfix
.footer-container
  .footer
    .connect
      h2
        block footer_connect-with-us
    .social
      table(cellspacing='3')
        block footer_social
    .info
      p
        block footer_info
  | <!--[if mso]></table></center></td></tr></table><table style="background-color: #138071; border: 1px solid #138071; color: white; width:100%"><tr><td style="vertical-align: middle; color:#ffffff;"><center><table style="background-color: #138071; border: 1px solid #138071; color: white; width:620px"><tr><td style="vertical-align: middle; width:310px; color:#ffffff;"><table style="background-color: #138071; border: 1px solid #138071; color: white; width:100%"><tr><td style="vertical-align: middle; color:#ffffff;"><center><table style="background-color: #138071; border: 1px solid #138071; color: white; width:620px"><tr><td style="vertical-align: middle; width:310px; color:#ffffff;"><![endif]-->
  .copyright
    block footer_copyright
  | <!--[if mso]></td></tr></table></center></td></tr></table></td></tr></table></center></td></tr></table><![endif]-->
// ################### END FOOTER ####################