extends ../../layout.pug

//- Header Content
block header_title
  | Noticias UnFranchise
block header_view-in-web-browser
  | Verlo en el <a href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-en.html">navegador de internet</a>
block header_languages
  <a href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-en.html">English</a> | <a href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html">Español</a> | <a href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-ch.html">中文</a> | <a href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-fr.html">Français</a>
block header_logo
  <img alt="UnFranchise News" src="http://images.marketamerica.com/creative/ufn/template/logo/logo-unfranchise-news-spanish.png">
block header_in-this-issue
  | En esta edición
block header_links-list
  tbody
    tr
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#1")
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#2")
    tr
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#3")
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#4")
    tr
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#5")
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#6")
    tr
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#7")
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#8")
    tr
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#9")
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#10")
    tr
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#11")
      td
        a(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#12")

//- Articles Content
block articles_back-to-top
  | Volver arriba
block articles_read-more
  a.top(href="https://www.unfranchise.com/massemail_links/newsletters/17/ISSUE_##/gbl-sp.html#" + n) Infórmate más

//- Footer Contents
block footer_connect-with-us
  | Conéctese con nosotros
block footer_social
  <tr>
    <td>
      <a href="https://www.facebook.com/marketamerica"><img alt="Facebook" src="http://images.marketamerica.com/creative/2017/unfranchise-usa-48868-ufn-news-alert-email/img/icon-facebook.png"></a>
    </td>
    <td>
      <a href="https://twitter.com/marketamerica"><img alt="Twitter" src="http://images.marketamerica.com/creative/2017/unfranchise-usa-48868-ufn-news-alert-email/img/icon-twitter.png"></a>
    </td>
    <td>
      <a href="https://plus.google.com/+marketamerica"><img alt="Google+" src="http://images.marketamerica.com/creative/2017/unfranchise-usa-48868-ufn-news-alert-email/img/icon-google-plus.png"></a>
    </td>
  </tr>
block footer_info
  | Si estos mensajes son filtrados como correos electrónicos no deseados, añada <a style="color: white !important" href="mailto:marketamericaemail@marketamerica.com">marketamericaemail@marketamerica.com</a>  a su libreta de direcciones para asegurarse de que lleguen correctamente a su bandeja de entrada.